    .Presentation {
        height: 70vh;
        background-color: #fafafa;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 100px;
        grid-template-areas: "texte video" "svg svg";
    }
    
    .texte {
        grid-area: texte;
        text-align: center;
    }
    
    .video {
        margin-left: 100px;
        grid-area: video;
        justify-items: center;
    }
    
    .bas {
        grid-area: svg;
        transition: 1s;
        animation: bounce 0.5s alternate infinite ease;
        align-items: center;
        justify-items: center;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(10px);
        }
    }
    
    h2 {
        text-decoration: none;
    }
    
    .page2 {
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    
    .page3 {
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    
    #mapid {
        height: 500px;
    }
    
    .Video__title {
        font-size: 30px;
        color: #333;
        border-bottom: 2px solid #e67e22;
        text-align: center;
    }
    
    .Video__item {
        padding-left: 33%;
    }