    .Presentation {
        height: 50vh;
        background-color: #fafafa;
        display: flex;
        margin: 20px;
        justify-content: center;
    }
    
    .bas {
        transition: 1s;
        animation: bounce 0.5s alternate infinite ease;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(10px);
        }
    }
    
    .page2 {
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    
    .Video__title {
        font-size: 30px;
        color: #333;
        border-bottom: 2px solid #e67e22;
        text-align: center;
    }
    
    .Video__item {
        padding-left: 33%;
    }